{layout ../base.latte}
{var robots => noindex}
{block #side}left{/block}

{block #sideBlock}
	{control clubMenu:contentMenu}
	{include #subMenu}
{/block}
	
{block #mainBlock}
	{include #clubContent}
{/block}
{block #breadcrumbs}/ <a href="{plink Club:default}">Klub</a> {/block}