{layout base.latte}
{block #title}Klubový email | {include #parent}{/block}
{block #breadcrumbs}{include #parent} / Klubový email{/block}
{block #clubContent}
<h2>Klubový mail</h2>
Stala se chyba! Tento link má přesměrovat na externí službu.
{/block}