{block #title}Kontakty | {include #parent}{/block}
{block #breadcrumbs}{include #parent} &raquo; Kontakty{/block}
{block #content}

<h2>Kontakty</h2>

Dynamicke vykresleni kontaktu kazde kategorie dle priznaku v DB.
