{layout ../base.latte}
{block #side}left{/block}

{block #breadcrumbs}
    / <a href="{plink ClubInfo:default}">Náš klub</a> 
{/block}


{block #sideBlock}
{/block}
	
{block #mainBlock}
	{include #clubInfoContent}
{/block}

