{block #title}Informace o klubu | {include #parent}{/block}
{block #breadcrumbs}
    {include #parent} &raquo; Informace o klubu{/block}
{block #content}

<h2>Informace o klubu</h2>

<a href="{link HallOfFame}">Sin slavy</a><br>
<a href="{link Partners}">Partneri</a><br>
<a href="{link Projects}">Projekty</a>

