{layout ./base.latte}

{block #title}
    psz | 
    {include #parent}
{/block}

{block #breadcrumbs}
    {include #parent} 
    / psz
{/block}

{block #clubInfoContent}
Obsah teto stranky musime prodiskutovat.
    
{/block}