{layout ./base.latte}
{block #title}Kredity | {include #parent}{/block}
{block #breadcrumbs}{include #parent} / Kredity{/block}

{block #subMenu}
<div class="submenu">
	<ul>
		<li class="title">/ Možnosti</li>
                <li><a href="{plink User:default}">Zpět</a></li>
	</ul>
</div>{/block}

{block #userContent}
<h2>Kreditye</h2>
{control userCredits:subtotal}
{control userCredits}
{/block}
