{layout base.latte}
{block #title}
    Nová platba 
    | Správa plateb
    | {include #parent}
{/block}

{block #breadcrumbs}
    {include #parent} 
    / <a href={plink Admin:payments}>Správa plateb</a>
    / Nová platba
{/block}

{block #subMenu}
<div class="submenu">
	<ul>
		<li class="title">/ Možnosti</li>
		<li><a href="{plink Admin:payments}">Zpět</a></li>
	</ul>
</div>{/block}

{block #adminContent}
    <h2>Nová platba</h2>
    {control addPaymentForm}
{/block}