{layout base.latte}
{block #title}
    Editace článku
    | Správa článků
    | {include #parent}
{/block}
{block #breadcrumbs}
	{include #parent} 
	/ <a href="{plink Admin:articles}">Správa článků</a> 
	/ Editace článku
{/block}

{block #subMenu}
    <div class="submenu">
	<ul>
	    <li class="title">/ Možnosti</li>
	    <li><a href="{plink Admin:articles}">Zpět</a></li>
	</ul>
    </div>
{/block}

{block #adminContent}
    <h2>Editace článku</h2>
    {control editArticleForm}
{/block}