{layout ./base.latte}
{block #title}
    Správce souborů
    | {include #parent}
{/block}

{block #breadcrumbs}
    {include #parent}
    / Správce souborů
{/block}

{block #subMenu}
{/block}

{block #adminContent}
{control fileManager}

{/block}