{layout base.latte}
{block #title}
    Správa objednávek
    | {include #parent}
{/block}

{block #breadcrumbs}
    {include #parent} 
    / Správa objednávek
{/block}



{block #subMenu}
	<div class="submenu">
	    <ul>
		<li class="title">/ Možnosti</li>
		{if $addPermit}
		    <li><a href="{plink Admin:addOrder}">Vytvořit novou objednávku</a></li>
		{/if}
		<li><a href="{plink Admin:default}">Zpět</a></li>
	    </ul>
	</div>
{/block}

{block #adminContent}
    <h2>Správa objednávek</h2>
    {control adminOrdersGrid}
{/block}