{layout base.latte}
{block #title} Pokuty | {include #parent}{/block}
{block #breadcrumbs}
    {include #parent} 
    / Pokuty
{/block}

{block #subMenu}{/block}

{block #adminContent}
<h2>Pokuty</h2>
{/block}
