{layout base.latte}
{block #title}
    Správa osobních údajů 
    | {include #parent}
{/block}

{block #breadcrumbs}
    {include #parent} 
    / Správa osobních údajů
{/block}

{block #subMenu}{/block}

{block #adminContent}
<h2>Správa osobních údajů</h2>
{/block}
