{var robots => noindex}
{block #title} Výsledek hledání | {include #parent}{/block}
{block #breadcrumbs}{include #parent} &raquo; Výsledek hledání{/block}
{block #content}
<h3> vysledek  hledani</h3>
No podivejme, co jsme to nasli.