{if $allowed !== FALSE}
	    {if $done !== NULL}
		<li><a href="{link cancelParticipation!}">Zrušit</a></li>
	    {else}	    
		<li><a href="#">Ano</a></li>
		<li><a href="#">Ne</a></li>
	    {/if}
{/if}