{var robots => index}
{block #title}Prohlášení o přístupnosti | {include #parent}{/block}
{block #breadcrumbs}{include #parent} &raquo; Prohlášení o přístupnosti{/block}
{block #content}
<h2>Prohlášení o přístupnosti.</h2>

Tahle stránka je prostě přístupná všem, kteří na ní mají co hledat.
