<div class="menu">
  <ul>
    <!--<li>Uživatel <strong>není přihlášen</strong></li>
    <li><a href="#">Přihlásit se</a></li>--> 
    <li><a class="user" href="{plink User:default}">Tomáš Dokoupil (<strong>1003</strong>)</a></li>
    <li><a class="mail" href="{plink User:messageBox}">2</a></li>
    <li><a class="web" href="{plink Homepage:default}">Web</a></li>
    <li><a class="club" href="{plink Club:default}">Klub</a></li>
    <li><a class="admin" href="{plink Admin:default}">Admin</a></li>
  </ul>
</div>