{block #title}Média | {include #parent}{/block}
{block #breadcrumbs}{include #parent} &raquo; Média{/block}
{block #content}

<h2>Media</h2>
- ukazky toho, jak skvele hrajeme a vypadame..
<a href="{link Photos}">Fotky</a><br>
<a href="{link Videos}">Videa</a>